<nav>
  <img height="50" src="assets/images/wallet.jpg" alt="wallet" />
  <ul>
    <li>
      <a href="/login">
        Log in
      </a>
    </li>
    <li>
      <a href="/">
        Dashboard
      </a>
    </li>
    <li>
      <a href="/new-event">
        New Event
      </a>
    </li>
  </ul>
</nav>
