<nav class="">
  <div class="logo">
    <img src="assets/images/wallet.jpg" alt="wallet" />
    <span>
      BudgetBetter
    </span>
  </div>
  <ul class="">
    <li>
      <a href="/login">
        Log in
      </a>
    </li>
    <li>
      <a href="/">
        Dashboard
      </a>
    </li>
    <li>
      <a href="/new-event">
        New Event
      </a>
    </li>
  </ul>
</nav>
