<html lang='en'>
	<head>
		<title>{{title}}</title>

		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body class="grid bg-blue-600">

		{{> nav}}

		<main class="grid place-content-center font-mono text-4xl text-green-50">
			{{{body}}}
		</main>

		{{> footer}}
	</body>
</html>
