<link rel='stylesheet' href='assets/css/index.css' />

{{#if email}}
	<h2>
		<span>Welcome back,</span><span class='user'>{{email}}</span>!
	</h2>
{{else}}
	<h2>
		<span>Welcome,</span><span class='user'>Guest</span>!
	</h2>
{{/if}}

<a href='/dashboard' class='dashboard-link'>Go to Dashboard</a>
