<link rel="stylesheet" href="assets/css/login.css">
<link rel="stylesheet" href="assets/css/input.css">

<div class='login'>
	<div class='tooltip'>
		<h2>Log in here!</h2>
		<h3>
			Not a member?
			<button id='toggle' onclick='toggle();'>Sign up</button>
		</h3>
	</div>

	<div class='form'>
		<form>
			{{> input type="email" id="email" placeholder="Email:"}}
			{{> input type="password" id="password" placeholder="Password:" isPassword=true}}
			{{!-- Make this one specific input have a minlength of 8 ^^^^ --}}
			{{!-- <input type="password" id="password" placeholder="Password:" minlength="8"/> --}}
			<button id="submit" type="submit">Submit</button>
		</form>
	</div>
</div>

<script src="assets/js/login.js"></script>

<script>
	anime({
		targets: '.login',
		scale: [1.25, 1],
		opacity: [0, 1],
		duration: 550,
		autoplay: true,
		easing: 'easeOutSine'
	});
</script>
