h1 {
	color: honeydew;
}

.crimson {
	color: darksalmon;
}

.indianred {
	color: #ff7b00;
}

.events {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 15px;
}