* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-rows: 1fr 4em;
	background-color: #1672ce;
}

.logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 15px;
}
.logo img {
	width: 50px;
}

a {
	text-decoration: none;
	-webkit-transition: color 250ms;
	transition: color 250ms;
	color: honeydew;
}
a:hover {
	color: darkslateblue;
}

main {
	display: grid;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	place-content: center;
	font-family: monospace;
	font-size: 36px;
	color: honeydew;
}

button {
	cursor: pointer;
}

footer {
	text-align: center;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.2);
	color: honeydew;
	font-family: sans-serif;
	font-size: 20px;
}

#logout {
	cursor: pointer;
}