* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-rows: 4em 1fr;
}

nav {
	display: grid;
	align-items: center;
	justify-content: end;
	padding: 0 20px;
	font-size: 20px;
	background-color: lightseagreen;
	color: honeydew;
	box-shadow: 10px 5px 5px red;
}

nav ul {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

li {
	list-style-type: none;
	font-weight: bold;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	transition: color 250ms;
	color: honeydew;
}

a:hover {
	color: darkslateblue;
}

main {
	background-color: dodgerblue;
	display: grid;
	place-content: center;
	font-family: monospace;
	font-size: 36px;
}
