.title {
	position: fixed;
	font-size: 72px;
	width: max-content;
	top: 2%;
	left: 50%;
	transform: translateX(-50%);
	background-color: lightcoral;
	padding: 25px 45px;
	clip-path: polygon(40px 0, 100% 0, calc(100% - 40px) 100%, 0 100%);
	z-index: 999999;
}

.events {
	padding: 300px 0;
	display: flex;
	flex-direction: column;
	gap: 200px;
}

@media screen and (min-width: 1025px) {
	.title {
		display: grid;
		place-content: center;
		color: honeydew;
		top: 0;
		left: 0;
		font-size: 27px;
		clip-path: unset;
		transform: unset;
		background-color: lightseagreen;
		height: 7vh;
		padding: 0 25px;
		box-shadow: 0 0 15px darkslateblue;
	}

	.events {
		padding: 150px 30px;
		padding-bottom: 0;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
	}
}
