footer {
	display: none;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	color: rgba($color: ivory, $alpha: 0.6);
}

@media screen and (min-width: 1025px) {
	footer {
		display: block;
	}
}
