main {
	width: 100%;
	height: 100%;
	display: grid;
	place-content: center;
	font-size: 5rem;
}

.index {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.user {
		color: crimson;
	}

	.dashboard-link {
		text-align: center;
		background-color: dodgerblue;
		text-decoration: none;
		color: honeydew;
		font-weight: bold;
		line-height: 2.5em;
		border: solid 7px honeydew;
		border-radius: 9999px;
	}
}
