// h1 {
// 	color: honeydew;
// }

// .crimson {
// 	color: darksalmon;
// }

// .indianred {
// 	color: #ff7b00;
// }

// .events {
// 	display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	gap: 15px;
// }

.user {
	color: coral;
}

.dashboard-link {
	margin: auto;
	background-color: firebrick;
	padding: 10px 20px;
	border-radius: 9999px;
	transition: background-color 300ms;

	&:hover {
		background-color: #d32828;
		color: inherit;
	}
}
