h3 {
	font-size: 26px;
}

.login {
	width: 55vmax;
	height: 55vmin;
	background-color: #c22f2fdd;
	display: flex;
	opacity: 0;
	flex-direction: row;
	border-radius: 10px;
	box-shadow: 3px 3px 10px black;
	transition: background-color 500ms;

	> div {
		border-radius: 10px;
		display: grid;
		place-content: center;
		width: 50%;
		transition: transform 500ms;
	}
}

.form {
	background-color: #232e4e;
}

form {
	display: flex;
	flex-direction: column;
	gap: 30px;

	input {
		background-color: transparent;
		line-height: 1.5em;
		font-size: 24px;
		outline: none;
		border: none;
		border-bottom: solid 1px rgba($color: honeydew, $alpha: 0.75);
		color: honeydew;

		&::placeholder {
			color: honeydew;
		}
	}
}

.input {
	position: relative;
	z-index: 0;

	&::after {
		position: absolute;
		content: attr(data-placeholder);
		z-index: -1;
		top: 0;
		left: 0;
		font-size: 24px;
		color: honeydew;
		transition: transform 250ms;
		transform: scale(1) translateY(0);
		transform-origin: 0 0;
	}

	&:focus-within::after {
		transform: scale(0.55) translateY(-1em);
	}
}

.tooltip {
	text-align: center;
}

.register {
	background-color: #249264dd;

	.form {
		transform: translateX(-100%);
	}

	.tooltip {
		transform: translateX(100%);
	}
}

#toggle {
	font: inherit;
	color: lightskyblue;
	background-color: transparent;
	border: none;
	transition: color 300ms;

	&:hover {
		color: #ff8e8e;
	}
}

#submit {
	background-color: #ff1645;
	border: solid 3px white;
	border-radius: 15px;
	font-size: 24px;
	line-height: 1.5em;
	width: fit-content;
	padding: 7px 14px;
	align-self: center;
	font-weight: bold;
	color: #cfcfcf;
	transition: color, border, background-color;
	transition-duration: 300ms;

	&:hover {
		color: #ff1645;
		background-color: #cfcfcf;
		border: solid 3px #ff1645;
	}
}

@keyframes bounceDown {
	from {
		bottom: 0;
	}
	to {
		bottom: -2em;
	}
}
