@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Ubuntu:wght@700&display=swap');

nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	gap: 15px;
	right: 0;
	align-items: center;
	padding: 10px 20px;
	font-size: 20px;
	background-color: lightseagreen;
	color: honeydew;

	ul {
		display: flex;
		flex-direction: row;
		gap: 15px;

		li {
			list-style-type: none;
			font-weight: bold;
			font-family: sans-serif;
		}
	}
}
