* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-rows: 1fr 4em;
	background-color: #1672ce;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;

	img {
		width: 50px;
	}
}

a {
	text-decoration: none;
	transition: color 250ms;
	color: honeydew;

	&:hover {
		color: darkslateblue;
	}
}

main {
	display: grid;
	place-content: center;
	font-family: monospace;
	font-size: 36px;
	color: honeydew;
}

button {
	cursor: pointer;
}

footer {
	text-align: center;
	padding: 15px;
	background-color: rgba($color: black, $alpha: 0.2);
	color: honeydew;
	font-family: sans-serif;
	font-size: 20px;
}

#logout {
	cursor: pointer;
}
